# Node modules
node_modules/
client/node_modules/

# Build artifacts (Hardhat)
artifacts/
cache/
build/

# Next.js (אם בעתיד תשתמשי)
client/.next/

# Env files
.env
client/.env

# OS-specific files
.DS_Store

# Logs and system output
*.log

# Hardhat secrets or private keys
*.secret

# Ignition (Hardhat Ignition modules)
ignition/

# Test files you don't need to push
test/

